[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fucom"]
	path = fucom
	url = https://github.com/cran/fucom
[submodule "rafsi"]
	path = rafsi
	url = https://github.com/cran/rafsi
